odoo_test_helper
odoo-addon-shopfloor_base @ git+https://github.com/OCA/shopfloor-app.git@refs/pull/28/head#subdirectory=shopfloor_base
odoo-addon-shopfloor_base @ git+https://github.com/OCA/shopfloor-app.git@refs/pull/29/head#subdirectory=shopfloor_base
